//----------------------------------------------
// Typography
//----------------------------------------------
body {
  font-family: $font-paragraph;
  line-height: $base-lineheight;
  color: $color-grey;
  background-color:$color-lightgrey;
}


//----------------------------------------------
// Fluid body sizing
//----------------------------------------------
body {
  font-size: 100%;
  
  @media (min-width: $mq-small) {
    font-size: 105%;
  }
  @media (min-width: $mq-med) {
    font-size: 107%;
  }
  @media (min-width: $mq-large) {
    font-size: 110%;
  }
  @media (min-width: 75em) {
    font-size: 117%;
  }
  @media (min-width: $mq-xlarge) {
    font-size: 125%;
  }
  @media (min-width: $mq-xxlarge) {
    font-size: 135%;
  }
  @media (min-width: $mq-xxxlarge) {
    font-size: 150%;
  }
}
//----------------------------------------------
//  Headings
//  @group    typography
//  @requires {placeholder} %font-h* tools/extends/_extends-type.scss
//----------------------------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  font-weight: 700;
  color: $color-beta;
}
//----------------------------------------------
//  h1
//  @group  typography
//----------------------------------------------
%font-h1, h1 {
  margin-bottom: .25em;
  font-size: $font-h1; 
  line-height: 1.3;

  @media (min-width: $mq-xlarge) {
    font-size: $font-h1 + $font-scale-up;
  }
}
//----------------------------------------------
//  h2
//  @group  typography
//----------------------------------------------
%font-h2, h2 {
  margin-bottom: .25em;
  font-size: $font-h2;  
  line-height: 1.5;

  @media (min-width: $mq-xlarge) {
    font-size: $font-h2 + $font-scale-up;
  }
}
//----------------------------------------------
//  h3
//  @group  typography
//----------------------------------------------
%font-h3, h3 {
  margin-bottom: .6em;
  font-size: $font-h3;  
  line-height: 1.4;
  letter-spacing: 0.02em;

  @media (min-width: $mq-xlarge) {
    font-size: $font-h3 + $font-scale-up;
  }
}
//----------------------------------------------
//  h4
//  @group  typography
//----------------------------------------------
%font-h4, h4 {
  margin-bottom: .5em;
  $fontSize: 1.25em; 
  font-size: $fontSize; 
  letter-spacing: 0.02em;
  line-height: 1.4;

  @media (min-width: $mq-xlarge) {
   font-size: $font-h4 + $font-scale-up;
  }
}
//----------------------------------------------
//  h5
//  @group  typography
//----------------------------------------------
%font-h5, h5 {
  margin-bottom: .4em;
  font-size: $font-h5;  
  line-height: 1.4;
}


//----------------------------------------------
//  paragraphs
//  @group typography
//----------------------------------------------

p{
  font-size: $font-small;
}

p {
  margin-top: 0;
  margin-bottom: .75em;
  color: $color-darkgrey;
}

small {
  display: block;
  margin-bottom: 1em;
  font-size: 80%;
}

b, strong{
  font-weight: 600;
}

//----------------------------------------------
//  Selection
//  @group typography
//----------------------------------------------
::selection {
  color: white;
  background: $color-alpha;
  text-shadow: none;
}


blockquote{
  font-family: $font-subheader;
  font-style: normal;
  font-weight: 900;
  line-height: 1.4;
  color: $color-beta;
  margin: 0 auto;
  padding: 1em 0;
  letter-spacing: 0.025em;

  cite{
    font-style: normal;
    @extend %font-subtitle;
  }
  p{
    margin-bottom: 0;
  }
}
