//----------------------------------------------
// About COlumns
//-----------------------------------------------
.about-cols{
  padding-top: 1em;
  min-height: 100vh;

  @media (min-width: $mq-med){
    padding-top: $pad-xl;
    padding-bottom: $pad-xl;
  }
  &__grid{
    //@inlcude flex-row();
  }
  &__figure.is-fixed{
    width: 100%;
    padding-bottom: 75%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 1px solid #fff;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);

    @media (min-width: $mq-med){
      position: fixed;
      left: 0%;
      bottom: 0;
      height: 100vh;
      width: 90%;
      border-bottom: 0;
      background-position: bottom left;
      background-size: contain; 
    }
    @media (min-width: $mq-large){}
    @media (min-width: 75em){
      bottom: -4%;
    }
    @media (min-width: $mq-xlarge){
      bottom: -20%;
      width: 75%;
    }
    @media (min-width: $mq-xxlarge){
      bottom: -25%;
      width: 70%;
    }
  }
  &__content{
    padding: 1em;
    @include flex-col(47%);
    @media (min-width: $mq-med){
      margin-left: 50%;
      animation: fade-in 1s both ease;
    }
  }

  &__header{
    //padding: $pad 0;
    animation: fade-in 1s 0.8s ease both;
  }
  &__copy{
    padding: 0.5em 0;
    //opacity: 0;
    animation: fade-in 1s 1s ease both;
    @media (min-width: $mq-med){
      margin-left: $pad;
    }

  }
  &__pretitle, &__title{
    @media (min-width: $mq-med){
      margin-left: $offset;
    }
  }
  &__title{
    font-size: $font-h2;
    @media (min-width: $mq-med){
      font-size: $font-xl;
    }
  }
  &__title br{
    @media (max-width: $mq-med){
      display: none;
    }
  }
  &__pretitle{
    @extend %font-pretitle;
  }
  &__subtitle, h4{
    @extend %font-subtitle;
    font-size: $font-med;
  }

  blockquote{
    padding: 1em 0 2em;

    p{
      font-size: $font-h4;
    }
  }

  &__contacts{
    @include flex-row();
    padding: 1.5em 0;

    a{
      @extend %font-links;
    }
  }

  &__contact{
    @include flex-col(50%);

    a{
      display: block;
    }
  }
}