//----------------------------------------------
// Buttons
// @group buttons
//-----------------------------------------------

.btn {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  padding: .5em 0;
  font-family: $font-paragraph;
  font-size: $font-xxsmall;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  transition: color 0.5s $ease-cb;


  span, i{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
 
  i{
    position: relative;
    top: -5px;
    opacity: 0;
    font-size: 2.4em;
    font-style: normal;
    transform: translate3d(-2em, 0, 0);
    transition: opacity 0.5s $ease-cb, transform 0.6s $ease-cb;
    
    &:before{
      content: "→";
    }
  }

  &:hover, a:hover &{
    transition: color 0.5s $ease-cb;
  
    
    i{
      opacity: 1;
      transform: translate3d(-0.1em,0,0);
      transition: opacity 0.5s $ease-cb, transform 0.6s $ease-cb;
    }
  }
}

//----------------------------------------------
// Button Beta Modifiers
//-----------------------------------------------
.btn--beta{
  color: $color-beta;

  &:hover, a:hover &{
    color: $color-alpha;
  }
}


//----------------------------------------------
// Buttons with arrows
// @group buttons
//-----------------------------------------------
.btn-arrow{
  display: inline-block;

  i{
    display: inline-block;
    vertical-align: top;
    opacity: 0;
    font-size: 2em;
    font-style: normal;
    line-height: 0;
    transform: translate3d(-1em, 0, 0);
    transition: opacity 0.5s $ease-cb, transform 0.6s $ease-cb;
    
    &:before{
      content: "→";
    }
  }

  &:hover, a:hover &{

    i{
      opacity: 1;
      transform: translate3d(0,0,0);
      transition: opacity 0.5s $ease-cb, transform 0.6s $ease-cb;
    }
  }
}


.btn--offset,
%btn--offset,
.work-cta__btn{

 span{
    transform: translate3d(0,0,0);
    transition: transform 0.6s $ease-cb;
  }

  i{
    transform: translate3d(-1em, 0, 0);
    transition: opacity 0.5s $ease-cb, transform 0.6s $ease-cb;
  }

  &:hover, a:hover &{
    span{
      transform: translate3d(-1em,0,0);
      transition: transform 0.6s $ease-cb;
    }
    i{
      opacity: 1;
      transform: translate3d(0,0,0);
      transition: opacity 0.5s $ease-cb, transform 0.6s $ease-cb;
    }
  }
}


.btn-down{
  display: block;

  i{
    display: inline-block;
    vertical-align: top;
    color: $color-beta;
    font-size: 2em;
    font-style: normal;

    
    &:before{
      content: "↓";
    }
  }
}

/*----------------------------------------------
--Size modifiers
-----------------------------------------------*/
.btn--small {
  font-size: .9em;
  padding: .5em 1.5em;
}

.btn--full {
  display: block;
  width: 100%;
}

//---------------------------------------
//  Button Header
//  @group    buttons
//----------------------------------------

.btn-header{
  font-family: $font-header;
  line-height: 1.1;
  @include link-line($color-beta, $color-alpha, $color-beta);
}