//----------------------------------------------
// View All Sections
// Simple button to index of posts section.
//
// @group view-all
//-----------------------------------------------
.view-all{
  padding: $pad-sm 0;
  text-align: center;

  &__btn{
    font-size: $font-h3;
  }
}