//----------------------------------------------
//  Work Feeds Grid/Section
//  @requires (mixin) col-grid - a multi column grid mixin
//  @see      scss/tools/_grids.scss
//-----------------------------------------------

.work-feeds{
  padding: 0 0 $pad-xl;

  @media (min-width: $mq-med){
    padding: $pad-sm 0 $pad-xl;
  }

  &__grid{
    @media (min-width: $mq-med){
      @include col-grid(1,2, $gap: 1.5em, $pad: 1.5em);
    }
  }
}

//----------------------------------------------
//  Work CTAs
//  Single work feed elements
//-----------------------------------------------
.work-feed{

  // Link
  &__link{
    display: block;
  }

  // Pretitle
  &__meta{
    @extend %font-meta;
  }

  // Title
  &__title{
    font-size: $font-h4;
  }

  &__figure{
    margin-bottom: 1em;
  }

  // Button
  &__btn{
    color: $color-beta;

    .work-cta__link:hover &{
      color: $color-alpha;
    }
  }
}